doctype html
html
    head
        script(src='/test/.fixtures_tmp/client/test_app/module.js')
        script(src='/test/.fixtures_tmp/client/test_app/myDirective/directives.js')

        link(rel="stylesheet", type="text/css", href="/test/.fixtures_tmp/client/style.css")

    body

        div(style="background-image:url(/client/nyan_cat.png);")
        h1 Some text
        div
