doctype html
html
    head
		// bower:js
		script(src='bower_components/angular/angular.js')
		script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.js')
		// endbower

        // bower:css
        // endbower
