<img src="/test/.fixtures_tmp/client/test_app/myDirective/chai.png">
<img ng-src="/test/.fixtures_tmp/client/test_app/myDirective/chai.png">
<img src="data:;base64/ddddddddddd">
<img ng-src="{{someVar}}">
